# =========================
# Godot specific
# =========================

# Import cache (最重要！！！绝对不要上传)
.import/
.godot/

# Mono / C# (如果你没用可以忽略)
.mono/
data_*/

# Exported builds
export/
build/

# Temporary files
*.tmp
*.temp

# Editor-specific files
.editor/
*.translation

# =========================
# OS files
# =========================

# Windows
Thumbs.db
desktop.ini

# macOS
.DS_Store

# =========================
# IDE files
# =========================

# VSCode
.vscode/

# JetBrains
.idea/

# =========================
# Logs
# =========================
*.log